/* mobili rezoliucija nuo 300px */
.respContainer {
  background-color: palegreen;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.tabl {
  display: none;
}
.lapt {
  display: none;
}

/* boxes */
.boxes {
  margin-top: 50px;
}

.box {
  min-height: 150px;
  border: 1px solid #000;
  background-color: tomato;
}

/* tablet rezoliucija nuo 768px  */
@media screen and (min-width: 768px) {
  .boxes {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  .respContainer {
    background-color: tomato;
  }
  .title {
    font-size: 35px;
    font-weight: normal;
  }
  .mob {
    display: none;
  }
  .tabl {
    display: block;
  }
}

/* laptop rezoliucija nuo 1140px  */
@media screen and (min-width: 1140px) {
  .boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  .respContainer {
    background-color: cornflowerblue;
  }
  .title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .lapt {
    display: block;
  }
  .tabl {
    display: none;
  }
}
/* laptop rezoliucija nuo 1400px  */
@media screen and (min-width: 1400px) {
  .boxes {
    grid-template-columns: repeat(4, 1fr);
  }
}
