body {
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 1140px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* our services section ======= */

.ourServices {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f8f9fa;
}
.sectionTitle {
  color: #f16821;
  text-transform: uppercase;
  text-align: center;
}
.sectionSubtitle {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
  font-weight: 300;
}

.seciontHr {
  height: 3px;
  width: 80px;
  background-color: #f16821;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.servicesGrid {
  /* border: 1px dashed #000; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.servicesItem {
  /* border: 1px solid #000; */
  display: grid;
  grid-template-columns: 48px auto;
  column-gap: 18px;
}

.iconSide {
  grid-row: span 2;
}

.servicesLink {
  grid-column: 2 / span 1;
}

.servicesItemTitle {
  color: #4d4d4d;
  margin-bottom: 8px;
  font-weight: 500;
}

.servicesText {
  color: #4d4d4d;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
}

.servicesLink {
  color: #f16821;
  margin-bottom: 16px;
}

.servicesIcon {
  font-size: 48px;
  color: #f16821;
  grid-row: span 3;
  align-self: flex-start;
}
